:root {
  --ion-color-primary: #1e90ff;
  --ion-color-primary-rgb: 30,144,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #1a7fe0;
  --ion-color-primary-tint: #359bff;

  --ion-color-secondary: #ff7f50;
  --ion-color-secondary-rgb: 255,127,80;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e07046;
  --ion-color-secondary-tint: #ff8c62;

  --ion-color-tertiary: #a55eea;
  --ion-color-tertiary-rgb: 165,94,234;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #9153ce;
  --ion-color-tertiary-tint: #ae6eec;

  --ion-color-success: #2ed573;
  --ion-color-success-rgb: 46,213,115;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #28bb65;
  --ion-color-success-tint: #43d981;

  --ion-color-warning: #fed330;
  --ion-color-warning-rgb: 254,211,48;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ba2a;
  --ion-color-warning-tint: #fed745;

  --ion-color-danger: #ff4757;
  --ion-color-danger-rgb: 255,71,87;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e03e4d;
  --ion-color-danger-tint: #ff5968;

  --ion-color-dark: #2f3542;
  --ion-color-dark-rgb: 47,53,66;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #292f3a;
  --ion-color-dark-tint: #444955;

  --ion-color-medium: #747d8c;
  --ion-color-medium-rgb: 116,125,140;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #666e7b;
  --ion-color-medium-tint: #828a98;

  --ion-color-light: #f1f2f6;
  --ion-color-light-rgb: 241,242,246;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d4d5d8;
  --ion-color-light-tint: #f2f3f7;
}