<ion-header>
  <ion-toolbar>
    <ion-title>Movie Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>

  <ion-item>
    <ion-label>Select Search Type</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)"></ion-select>
    <ion-select-option value="">All</ion-select-option>
    <ion-select-option value="movie">Movie</ion-select-option>
    <ion-select-option value="series">Series</ion-select-option>
    <ion-select-option value="episode">Episode</ion-select-option>
  </ion-item>

</ion-content>
